:root{
    --primary: #002E4C;
    --secondary: #e4f0f1;
    --accent-1: #996e1e;
    --accent-2: #077eb0;
    --heading-font: "Rubik Dirt", system-ui;
    --paragraph-font: "Geist", sans-serif;
    --paragraph-size: 1.2rem;
    --margin: 3rem auto;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid var(--secondary);
	max-width: 1000px;
}

header img{
    margin: 0 0.65rem 0 0.65rem;
	width: 120px;
	height: auto;
}

header p{
    font-family: var(--heading-font);
    font-size: 1.7rem;
    font-weight: 400; 
    font-style: normal;
    color: var(--primary);
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: var(--paragraph-font);
}

.navigation a {
    flex: 1 1 auto;
	display: block;
	color:  var(--accent-2);
	padding: 20px;
	text-decoration: none;
	font-size: var(--paragraph-size)
}

.hero {
    position: relative;
    width: 100%;
    max-width: 1200px; 
    margin: var(--margin);
}

.hero img {
    width: 100%; 
    height: auto; 
    border: 1px solid black;
}

.hero h1 {
    position: absolute;
    top: 10%; 
    left: 10%;
    right: 10%;
}
h1 {
    position: relative;
    height: auto;
    width: auto;
    margin: var(--margin);
    text-align:center;
    font-family: var(--heading-font);
    font-size: 4.0rem;
    font-weight: 400; 
    font-style: normal;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 1rem;
}

h2 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
    border-bottom: 1px solid var(--accent-2);
}

p {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-size);
    font-weight: 400;
    font-style: normal;
    color: var(--accent-1);
}    

.hero article {
    position: absolute;
    bottom: 10%;
    left: 5%;
    right: 5%;
    background-color: rgba(228, 240, 241, 0.502);
    padding: 1rem;
}

.hero article img {
    float: right;
    margin-left: 1rem; 
    max-width: 30%; 
    height: auto;
    border: 1px solid black;
}

.hero p {
    color: var(--primary);
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-size);
    font-weight: 400;
}

.history{
    margin: var(--margin);
	display: grid;
	grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: auto; 
    align-items: center;
    gap: 2rem;
    
}

.history h2{
    grid-column: 1/4;
    text-align: left;
}

.history img{
    margin: 0;
	width: 100%;
	height: auto;
    grid-column: 2;
    align-self: center;
    border: 1px solid black;
}

.history p{
    grid-column: 1; 
    text-align: justify;
}

.history p.p2{
    grid-column: 3; 
    text-align: justify;
}

.adventure{
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    margin: var(--margin);
}

.adventure h2{
    grid-column: 1/6;
}

.adventure img{
    margin: 0.5rem;
    border: 0;
    padding: 0;
    max-height: 163px;
    width: auto;
    border: 1px solid black;
}

figcaption {
    margin-top: 0.25rem;
    font-family: var(--paragraph-font);
    color: var(--accent-1);
    font-size: var(--paragraph-size);
    text-align: center;
}

figure {
    margin: 0;
    padding: 0;
}

.headquarters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    margin: 3rem auto;
    gap: 2rem;
}

.contact {
    grid-column: 1;
    display: flex;
    flex-direction: column;         
    justify-content: flex-start; 
    height: 100%;      
}

.map {
    grid-column: 2;
    width: 100%;
    height: 100%;
}

.employees {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
    text-align: center;
}


.employees img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 1rem;
}

.employees h2 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}

.employees p {
    text-align: left;
    line-height: 1.6;
    align-self: center;
    margin: 2rem;
}

.employees p.p2 {
    grid-column: 1;
    grid-row: 3;

}
.employees figure.employee-2{
    grid-column: 2;
    grid-row: 3;
}

form {
    width: 650px;
    margin: var(--margin);
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color:var(--secondary);
    display: grid;
}

.user {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
}

.message {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    padding: 1rem;
}

h3{
    padding: .5rem;
    font-size: 1.25rem;
    color: var(--primary);
    font-family: var(--heading-font);
    font-weight: 400;
    grid-column: 1/-1;
}

.form-item {
    display: grid;
    align-items: center;
}


label{
    text-align: right;
    padding-right: 1rem;
    font-family: var(--paragraph-font);
    color: var(--primary);
}

input[type="email"] {
    width: 100%;
    background-color: white;
}

input[type="text"] {
    width: 100%;
    background-color: white;
}

label[for="message"] {
    text-align: center;
    display: block;
    width: 100%;
}

input[id="message"] {
    height: 4rem;
    text-align: start;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

select {
    width: 45%;
    height: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

button {
    margin: 1rem;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }

footer{
    float: right;
    display: flex;
    margin: var(--margin);
}

footer p{
    color: var(--accent-2);
}
.sociallinks {
    text-decoration: none;
}

.sociallinks a img{
    height: 40px;
    margin: 10px;
    padding: 2px;
}